.recommand-innercontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
    text-align: center;
    padding: 24px;
    width: calc(3 *183px + 2 * 30px + 2*24px) !important;
}

.divide-line {
    width: 658px;
    height: 2px;
    background: var(--light-gray-2, #ECECEC);
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-header {
    display: flex;
    justify-content: space-between;
    /* Separate the text and the buttons */
    align-items: center;
    /* Vertically center-align items */
    padding: 10px;
    /* Just some padding for aesthetics */
    width: 658px;
    height: 50px;
}

.text {
    text-align: left;
    /* Center the text horizontally */
    flex-grow: 1;
    /* Allow the text to take up available space */
    color: var(--text-color, #252B42);

    /* h5 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.1px;

}

.buttons {
    display: flex;
    gap: 10px;
    text-align: right;
    width: 113px;


}

.btn {
    width: 48px;
    height: 48px;
}

.btn-left {
    margin-right: 15px;
}

.recommend-container {
    /* height: 796px; */
    display: flex;
    /* justify-content: space-between; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.left-container {
    margin-right: 30px;
    /* src="https://via.placeholder.com/389X796" */
    background-image: url('https://via.placeholder.com/389X796');
    width: 389px;
}

.left-text {

    margin-left: 48px;
    margin-right: 24px;
    margin-top: 24px;
}

.line1 {
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
}

.line2 {
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}